Repository markassad/polarcap: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, pytest-changed

cargo-fmt:
  name: cargo fmt
  entry: cargo fmt --manifest-path=Cargo.toml --all -- --check
  language: system
  pass_filenames: false

pytest-changed:
  name: pytest (changed files only)
  entry: uv run pytest -v -x --tb=short
  language: system
  pass_filenames: false

Update README with pre-commit details.
  README.md
  test_file.txt
Due: none

Clean up test cases.
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  Cargo.toml
  Makefile
  README.md
  polarcap-core/Cargo.toml
  polarcap-core/benches/pcap_parsing.rs
  polarcap-core/src/lib.rs
  polarcap-core/src/parser.rs
  src/lib.rs
  src/parser.rs
Due: cargo-fmt

Update lint, and simple testcase.
  polarcap-core/src/parser.rs
  python/polarcap/__init__.py
  src/lib.rs
  tests/test_basic.py
Due: cargo-fmt, pytest-changed

Clean up metadata for repo.
  Cargo.toml
  Makefile
  polarcap-core/Cargo.toml
  src/lib.rs
Due: cargo-fmt

Clean up .envrc setup.
  .envrc
Due: none

Very basic POC. It works, but not great.
  Cargo.toml
  Makefile
  example_scan_pcap.py
  polarcap-core/src/parser.rs
  pyproject.toml
  python/polarcap/__init__.py
  src/lib.rs
  tests/example.pcap
  tests/generate_test_pcap.py
  uv.lock
Due: cargo-fmt, pytest-changed

refactor: implement true streaming pcap parser with nanosecond precision
  example_scan_pcap.py
  polarcap-core/Cargo.toml
  polarcap-core/src/lib.rs
  polarcap-core/src/parser.rs
  pyproject.toml
  python/polarcap/__init__.py
  src/lib.rs
  uv.lock
Due: cargo-fmt

Path conditions:
  cargo-fmt: any of: \.rs$
  pytest-changed: any of: ^tests/.*\.py$
